#wrapper{
	width:1050px;
	height:2100px;
	border:1px solid black;
	position:relative;
}




#hideshow{
	width:400px;
	height:270px;
	border:1px solid green;
	background:skyblue;
	position:absolute;
	bottom:10px;
	left:10px;
}

#q{
	position:absolute;
	bottom:10px;
	right:10px;
}

#form{
	width:1050px;
	height:470px;
	border:1px solid green;
	background:skyblue;
	position:relative;
}

#showForm{
	width:1000px;
	height:200px;
	border:1px solid green;
	
	position:absolute;
	top:10px;
	left:10px;
	
}

#hideForm{
	width:1000px;
	height:200px;
	border:1px solid green;
	
	position:absolute;
	bottom:10px;
	left:10px;
	
}

#E{
	
	bottom:10px;
	right:10px;
}


#E2{
	
	bottom:10px;
	right:10px;
}















